 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

 html,
 body {
     font-size: 62.5%;
     line-height: 1.3;
 }

 body {
     font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
     margin: 0;
     padding: 0;
     color: #333;
 }

 $colors: (
     primary: #FFE56E,
     primary200: #FEEC97,
     primary100: #FFF9DC,
     secondary900: #EA5404,
     secondary800: #FF7A00,
     grayscale900: #333333,
     grayscale800: #444444,
     grayscale: #666666,
     grayscale500: #797979,
     grayscale300: #CCCCCC,
     grayscale200: #EDEDED,
     grayscale100: #F2F2F2,
 );

 // ex) color(primary);
 @function color($color_name) {
     @return map-get($colors, $color_name);
 }

 $fonts: (
     headline-1: 2.8rem,
     subtitle-1: 2.0rem,
     subtitle-2: 2.0rem,
     subtitle-3: 1.8rem,
     subtitle-4: 1.8rem,
     subtitle-5: 1.7rem,
     subtitle-6: 1.7rem,
     body: 1.6rem,
     body-1: 1.5rem,
     body-2: 1.6rem,
     body-3: 1.4rem,
     body-4: 1.3rem,
     body-5: 1.3rem,
     body-6: 1.3rem,
     button-1: 1.5rem,
     button-2: 1.3rem,

 );

 // ex) @include font($type: primary);
 @function font($font_name) {
     @return map-get($fonts, $font_name);
 }

 @mixin font($type: primary) {
     line-height: 140%;
     letter-spacing: -0.03em;

     @if ($type ==headline-1) {
         font-size: font(headline-1);
         font-weight: 500;
     }

     @else if($type ==subtitle-1) {
         font-size: font(subtitle-1);
         font-weight: 500;
     }

     @else if($type ==subtitle-2) {
         font-size: font(subtitle-2);
         font-weight: 400;
     }

     @else if($type ==subtitle-3) {
         font-size: font(subtitle-3);
         font-weight: 500;
     }

     @else if($type ==subtitle-4) {
         font-size: font(subtitle-4);
         font-weight: 400;
     }

     @else if($type ==subtitle-5) {
         font-size: font(subtitle-5);
         font-weight: 500;
     }

     @else if($type ==subtitle-6) {
         font-size: font(subtitle-6);
         font-weight: 400;
     }

     @else if($type ==body) {
         font-size: font(body);
         font-weight: 400;
     }

     @else if($type ==body-1) {
         font-size: font(body-1);
         font-weight: 500;
     }

     @else if($type ==body-2) {
         font-size: font(body-2);
         font-weight: 400;
     }

     @else if($type ==body-3) {
         font-size: font(body-3);
         font-weight: 400;
     }

     @else if($type ==body-4) {
         font-size: font(body-4);
         font-weight: 500;
     }

     @else if($type ==body-5) {
         font-size: font(body-5);
         font-weight: 400;
     }

     @else if($type ==body-6) {
         font-size: font(body-6);
         font-weight: 300;
     }

     @else if($type ==button-1) {
         font-size: font(button-1);
         font-weight: 700;
     }

     @else if($type ==button-2) {
         font-size: font(button-2);
         font-weight: 700;
     }
 }

 .wrap {
     width: 900px;
     height: 700px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);

     &::after {
         content: "";
         display: block;
         background: #2C2C2C;
         opacity: 0.9;
         width: 100vw;
         height: 100vh;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: -1;
     }

     >.tab {
         display: flex;
         flex-direction: column;
         width: 100%;
         height: 100%;
         box-sizing: border-box;
         padding: 10px 8px 8px 8px;
         background: #FFF9DC;
         box-shadow: 2px 6px 20px rgba(70, 70, 70, 0.25);
         border-radius: 10px;

         header {
             margin-bottom: 10px;
             display: flex;
             justify-content: space-between;
             align-items: center;

             h1 {
                 @include font($type: headline-1);
                 color: color(grayscale900);
                 margin: 0;
             }
         }

         .close-btn {
             background: none;
             width: 31px;
             height: 31px;
             display: block;
             padding: 0;
             border: none;

             img {
                 width: 100%;
                 display: block;
             }
         }

         >.tab-body {
             height: 100%;
             overflow-y: auto;

             .tab-pane {
                 gap: 14px;

                 >span {
                     position: relative;
                     display: flex;
                     align-items: center;
                     width: fit-content;
                     height: 30px;
                     padding: 0 14px 0 48px;
                     gap: 10px;
                     background: color(primary200);
                     border-radius: 999px;
                     @include font($type: body-5);
                     line-height: 0;

                     &::after {
                         content: "";
                         display: block;
                         background: url(./point-icon.png) no-repeat center/contain;
                         width: 41px;
                         height: 41px;
                         position: absolute;
                         left: 0;
                     }
                 }

                 .form-group {
                     display: flex;

                     >span {
                         position: relative;
                         display: flex;
                         align-items: center;
                         width: fit-content;
                         height: 30px;
                         padding: 0 14px 0 48px;
                         gap: 10px;
                         background: color(primary200);
                         border-radius: 999px;
                         @include font($type: body-5);
                         line-height: 0;

                         &::after {
                             content: "";
                             display: block;
                             background: url(./point-icon.png) no-repeat center/contain;
                             width: 41px;
                             height: 41px;
                             position: absolute;
                             left: 0;
                         }
                     }

                     >select {
                         width: 153px;
                         height: 30px;
                         width: 153px;
                         height: 30px;
                         display: block;
                         background: #FFFFFF;
                         border: 1px solid #F1F1F1;
                         border-radius: 2px;
                     }
                 }

                 .add-btn {
                     border: none;
                     background: none;
                     cursor: pointer;
                     width: 92px;
                     height: 22px;
                     display: block;

                     img {
                         width: 100%;
                         display: block;
                         background-size: contain;
                     }
                 }

                 >.container {
                     display: flex;
                     justify-content: space-between;
                     flex-wrap: wrap;
                     gap: 11px;
                     width: 100%;

                     .col-group {
                         display: flex;
                         justify-content: flex-end;
                         width: 100%;
                         gap: 12px;

                         .form-group:nth-of-type(1) {
                             width: 362px;
                         }

                         .form-group:nth-of-type(2) {
                             width: 78px;
                             align-items: center;

                             >label {
                                 @include font($type: body-5);
                                 background: none;
                                 border: none;
                             }
                         }

                         select:nth-of-type(1) {
                             width: 138px;
                             padding: 6px 0 6px 11px;
                         }
                     }
                 }
             }

             .left {
                 width: 237px;
                 max-width: 237px;

                 .form-group+.form-group {
                     margin-top: 10px;
                 }

                 .sub-tab {
                     margin-top: 17px;
                     border-radius: 10px;
                     overflow: hidden;
                     border-spacing: 0;
                     background: #FFFFFF;
                     box-shadow: 2px 2px 10px rgba(70, 70, 70, 0.1);
                     border-radius: 10px;

                     th,
                     td,
                     .tab-nav-link {
                         border: none;
                     }

                     thead {
                         background: #FFE56E;

                         th {
                             padding: 8px 0;
                         }
                     }

                     tbody {
                         tr {
                             background: #F2F2F2;
                         }
                     }

                     .tab-nav {
                         background: #F2F2F2;
                         padding: 8px;
                         display: flex;
                         flex-direction: column;
                         gap: 8px;
                         height: 100%;

                         .tab-nav-link {
                             @include font($type: body-6);
                             border-radius: 5px;
                             line-height: 0;
                             width: 75px;
                             height: 34px;
                             padding: 0;
                         }
                     }

                     .tab-body {
                         width: 148px;
                         padding: 0;
                         vertical-align: top;

                         .tab-pane {
                             width: 100%;
                             max-height: 332px;
                             height: 332px;
                             overflow-y: auto;

                             .tab {
                                 width: 100%;
                                 background: #FFFFFF;

                                 .textbook-nav {
                                     padding: 0;
                                     background-color: #fff;
                                     display: flex;
                                     border-radius: 0;
                                     height: auto;

                                     .tab-nav-item {
                                         padding: 11px 0;
                                         text-align: center;

                                         .tab-nav-select {
                                             text-decoration: none;
                                             @include font($type: body-6);
                                         }
                                     }
                                 }
                             }
                         }
                     }
                 }
             }

             .right {
                 width: calc(100% - 259px);

                 .buttons {
                     margin-top: 18px;
                     display: flex;
                     gap: 6px;
                     justify-content: center;
                 }
             }
         }
     }
 }

 .time-table {
     flex-grow: 1;
     width: 100%;
     background: #fff;
     border-radius: 9px;
     overflow: hidden;
     border-spacing: 0;
     border: 1px solid #CCCCCC;
     width: 597px;
     height: 401px;
     box-sizing: border-box;
     display: table;
     width: 100%;

     &.check {
         height: 504px;
     }

     thead {
         tr {
             th {
                 &:nth-child(1) {
                     width: 62px !important;
                 }
             }
         }
     }

     td,
     th {
         border-right: 1px solid #CCCCCC;
         border-bottom: 1px solid #CCCCCC;

         &:last-child {
             border-right: none;
         }
     }

     tr:last-child {
         td {
             border-bottom: none;
         }
     }

     th {
         @include font ($type: body-3);
         padding: 5px 0;
         background: color(grayscale200);
     }

     td {
         position: relative;

         >button {
             width: 100%;
             height: 100%;
             background: #fff;
             border: none;
             border-radius: 0;
             cursor: pointer;
         }

         .textbook-box {
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
             background: #fff;
             z-index: 10;
             width: 100%;
             height: 100%;
             background: color(primary100);
             border: 1px solid color(primary);
             border-radius: 5px;
             @include font($type: body-5);
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
             padding: 9px 21px;
             box-sizing: border-box;

             .tab-nav-link {
                 @include font($type: body-1);
                 text-decoration: none;
                 pointer-events: none;
             }

             .tab-nav-select {
                 @include font($type: body-6);
                 text-decoration: none;
                 pointer-events: none;
             }

             .close-btn {
                 position: absolute;
                 top: 3px;
                 right: 3px;
                 width: 15px;
                 height: 15px;
                 background: url(./close_button.png) no-repeat center/contain;
                 border-radius: 100%;
                 cursor: pointer;
             }
         }
     }
 }

 .form-group {
     width: 100%;
     display: flex;

     >label {
         width: 40px;
         height: 30px;
         background: #F2F2F2;
         border-width: 1px 0px 1px 1px;
         border-style: solid;
         border-color: #CCCCCC;
         border-radius: 2px 0px 0px 2px;
         @include font($type: body-4);
         display: flex;
         align-items: center;
         justify-content: center;
     }

     >select,
     input[type="text"] {
         width: calc(100% - 40px);
         background: #FFFFFF;
         border-width: 1px 1px 1px 0px;
         border-style: solid;
         border-color: #CCCCCC;
         border-radius: 0px 3px 3px 0px;
         padding: 6px 0 6px 12px;
         outline: none;
         @include font($type: body-5);
     }

     >input::placeholder {
         color: color(grayscale);
         text-align: right;
         margin-right: 14px;
     }
 }

 .tab-nav {
     display: flex;
     list-style: none;
     margin: 0;
     padding: 0;

     .tab-nav-item {
         flex-grow: 1;

         .tab-nav-link {
             display: flex;
             align-items: center;
             justify-content: center;
             background: #FFFFFF;
             border-width: 1px 1px 0px 1px;
             border-style: solid;
             border-color: #CCCCCC;
             border-radius: 10px 10px 0px 0px;
             padding: 10px 20px;
             @include font($type: subtitle-1);
             text-decoration: none;
         }

         &.active {
             .tab-nav-link {
                 background: color(secondary900);
                 color: #fff;
                 border-color: color(secondary900);
             }
         }
     }
 }

 .tab-body {
     background-color: #fff;
     padding: 14px;
     border: 1px solid #ccc;

     .tab-pane {
         display: none;

         .container {
             display: flex;
         }

         &.active {
             display: flex;
             flex-wrap: wrap;
             justify-content: space-between;
         }
     }
 }

 .sub-tab {
     .tab-nav {
         flex-direction: column;
     }
 }

 .base-checkbox {
     list-style: none;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;

     >label {
         font-weight: 500;
         font-size: 16px;
         line-height: 160%;
         letter-spacing: 0.02em;
         color: #333333;
     }
 }

 .checkbox {
     position: relative;
     overflow: hidden;
 }

 .input-checkbox {
     cursor: pointer;
     opacity: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     margin: 0;
 }

 .input-checkbox:checked+.checkbox__inner {
     background: url(./check_icon.png)no-repeat center/contain;
 }

 .checkbox__inner {
     display: block;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     margin-left: 0 !important;
     background: #fff no-repeat center;
     background-size: 10px 7px;
     width: 16px;
     height: 16px;
     background: url(./disabled_check_icon.png)no-repeat center/contain;
 }

 .checkbox__text {
     display: block;
     font-weight: 400;
     font-size: 15px;
     line-height: 150%;
     letter-spacing: -0.03em;
     color: #242424;
 }

 .popup {
     box-shadow: 2px 6px 20px rgba(70, 70, 70, 0.35);
     width: 395px;
     height: 200px;
     background: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     flex-direction: column;
     gap: 52px;

     >strong {
         @include font($type: subtitle-3);
         display: block;
     }
 }

 button {
     width: 154px;
     height: 37px;
     border: none;
     box-shadow: 2px 2px 10px rgba(70, 70, 70, 0.1);
     border-radius: 999px;
     @include font($type: button-1);
     cursor: pointer;

     &.reset-btn {
         background-color: color(primary);
         color: color(grayscale900);
     }

     &.save-btn {
         background-color: color(secondary800);
         color: #fff;
     }

     &.check-btn {
         background-color: color(grayscale100);
         color: color(grayscale800);
     }
 }

 #popupDiv {
     display: none;
 }

 .tooltips {
     background: #000000;
     opacity: 0.85;
     border-radius: 5px;
     width: 260px;
     height: 86px;
     position: absolute;
     left: 118px;
     bottom: 231px;

     p {
         @include font($type: subtitle-4);
         color: #fff;
         display: flex;
         align-items: center;
         justify-content: center;
     }
 }