/* Media Query Size */
$md-width: 801px;
$lg-width: 1024px;
$xl-width: 1440px;
$xxl-width: 1920px;
@mixin md {
  // 해상도가 md(801px)보다 큰 화면
  @media (min-width: $md-width) {
    @content;
  }
}
@mixin lg {
  // 해상도가 lg(1024px)보다 큰 화면
  @media (min-width: $lg-width) {
    @content;
  }
}
@mixin xl {
  // 해상도가 xl(1440px)보다 큰 화면
  @media (min-width: $xl-width) {
    @content;
  }
}
@mixin xxl {
  // 해상도가 xl(1920px)보다 큰 화면
  @media (min-width: $xxl-width) {
    @content;
  }
}

/*=================================================================
    color
    1. 색상이 변동되거나 background-color적용시 함수사용    
    ex)
        .container {
            background-color: color(main_bg);
        }

        .title {
            color: color(gray_900);
        }

    2. 색상이 고정일 경우 class로 사용 => base.scss 파일 참고
        <div class="color_main_cool_mint_blue"></div>
====================================================================*/

$colors: (
  mint-blue: #79d1c7,
  blue-purple: #8165fe,
  main-bg: #f4f8fb,
  green-mint: #00ab93,
  pink: #f383d1,
  red-pink: #f04d69,
  yellow: #ffd349,
  navy: #01416c,
  light-purple: #b3a3fe,
  blue-gray: #e0e7ec,
  light-yellow: #fff27b,
  black: #000,
  gray900: #121212,
  //title, basic font color
  gray800: #333333,
  gray700: #666666,
  gray600: #777777,
  //sub font color
  gray500: #999999,
  gray400: #cccccc,
  gray300: #dddddd,
  gray200: #ebebeb,
  //form disabled
  gray100: #f5f5f5,
  white: #fff,
);

//bgcolor로 쓰거나 color 변동시 사용
@function color($name) {
  @return map-get($colors, $name);
}

//button
@mixin btnStyle() {
  display: flex;
  align-items: center;
  justify-content: center;
}
