@charset "UTF-8";
/* reset.css */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
.wrap div,
.wrap span,
.wrap applet,
.wrap object,
.wrap iframe,
.wrap h1,
.wrap h2,
.wrap h3,
.wrap h4,
.wrap h5,
.wrap h6,
.wrap p,
.wrap blockquote,
.wrap pre,
.wrap a,
.wrap abbr,
.wrap acronym,
.wrap address,
.wrap big,
.wrap cite,
.wrap code,
.wrap del,
.wrap dfn,
.wrap em,
.wrap img,
.wrap ins,
.wrap kbd,
.wrap q,
.wrap s,
.wrap samp,
.wrap small,
.wrap strike,
.wrap strong,
.wrap sub,
.wrap sup,
.wrap tt,
.wrap var,
.wrap b,
.wrap u,
.wrap i,
.wrap center,
.wrap dl,
.wrap dt,
.wrap dd,
.wrap ol,
.wrap ul,
.wrap li,
.wrap fieldset,
.wrap form,
.wrap label,
.wrap legend,
.wrap table,
.wrap caption,
.wrap tbody,
.wrap tfoot,
.wrap thead,
.wrap tr,
.wrap th,
.wrap td,
.wrap article,
.wrap aside,
.wrap canvas,
.wrap details,
.wrap embed,
.wrap figure,
.wrap figcaption,
.wrap footer,
.wrap header,
.wrap hgroup,
.wrap menu,
.wrap nav,
.wrap output,
.wrap ruby,
.wrap section,
.wrap summary,
.wrap time,
.wrap mark,
.wrap audio,
.wrap video {
  font-family: "Noto Sans KR", sans-serif;
}

.pc_layout {
  display: none;
}

.mo_layout {
  display: block;
}

@media (min-width: 801px) {
  .pc_layout {
    display: block;
  }
  .mo_layout {
    display: none;
  }
}
button {
  background: transparent;
  border: none;
}

/* Media Query Size */
/*=================================================================
    color
    1. 색상이 변동되거나 background-color적용시 함수사용    
    ex)
        .container {
            background-color: color(main_bg);
        }

        .title {
            color: color(gray_900);
        }

    2. 색상이 고정일 경우 class로 사용 => base.scss 파일 참고
        <div class="color_main_cool_mint_blue"></div>
====================================================================*/
/* 폰트 */
/* 반응형 레이아웃 */
.wrap {
  width: 100%;
}
.wrap .use-mb {
  display: block;
}
.wrap .use-pc {
  display: none;
}
@media (min-width: 801px) {
  .wrap .use-mb {
    display: none;
  }
  .wrap .use-pc {
    display: block;
  }
}
.wrap.sub-container:has(.no-page) {
  min-width: 1440px;
  overflow-x: auto;
  /* 서브 상단 셀렉트 메뉴 */
}
.wrap.sub-container:has(.no-page) .pc_layout {
  display: block;
}
.wrap.sub-container:has(.no-page) .mo_layout {
  display: none;
}
.wrap.sub-container:has(.no-page) .location {
  display: block;
  margin-top: 0;
  background: #f4f8fb;
}
.wrap.sub-container:has(.no-page) .location .location-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #00ab93;
  padding: 40px 0 10px;
}
.wrap.sub-container:has(.no-page) .location .location-wrap .select-wrap {
  display: block;
  max-width: unset;
  margin: 0;
  padding: 0;
  position: unset;
  background: none;
}
.wrap.sub-container:has(.no-page) .location .location-wrap .select-wrap .breadcrumb {
  display: none;
}
.wrap.sub-container:has(.no-page) .location .location-wrap .select-wrap .select-menu {
  position: relative;
}
.wrap.sub-container:has(.no-page) .location .location-wrap .select-wrap .select-menu.active .select-btn {
  border: none;
}
.wrap.sub-container:has(.no-page) .location .location-wrap .select-wrap .select-menu.active .select-btn .sBtn-text {
  color: unset;
}
.wrap.sub-container:has(.no-page) .location .location-wrap .select-wrap .select-menu.active .select-btn svg path {
  fill: #00ab93;
}
.wrap.sub-container:has(.no-page) .location .location-wrap .select-wrap .select-menu .select-btn {
  border: none;
  background: none;
  padding: 0;
  gap: 10px;
  height: 47px;
  font-size: 18px;
  border-radius: 8px;
}
.wrap.sub-container:has(.no-page) .location .location-wrap .select-wrap .select-menu .select-btn .sBtn-text {
  color: #121212;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  letter-spacing: -0.36px;
  border: none;
}
.wrap.sub-container:has(.no-page) .location .location-wrap .select-wrap .select-menu .select-btn svg {
  width: 24px;
  height: 24px;
}
.wrap.sub-container:has(.no-page) .location .location-wrap .select-wrap .select-menu .select-btn svg path {
  fill: #00ab93;
}
.wrap.sub-container:has(.no-page) .location .location-wrap .select-wrap .select-menu .options {
  top: 47px;
  padding: 10px 0;
  border-radius: 8px;
  margin: 10px 0 0;
  gap: 0;
}
.wrap.sub-container:has(.no-page) .location .location-wrap .select-wrap .select-menu .options .option {
  border-bottom: 1px dashed #ddd;
}
.wrap.sub-container:has(.no-page) .location .location-wrap .select-wrap .select-menu .options .option:hover {
  background: #f2f2f2;
}
.wrap.sub-container:has(.no-page) .location .location-wrap .select-wrap .select-menu .options .option:hover .option-text {
  color: unset;
}
.wrap.sub-container:has(.no-page) .location .location-wrap .select-wrap .select-menu .options .option .point {
  display: none;
}
.wrap.sub-container:has(.no-page) .location .location-wrap .select-wrap .select-menu .options .option .option-text {
  width: 100%;
  color: #666;
  padding: 10px 20px;
}
@media (min-width: 801px) {
  .wrap.main-container, .wrap.sub-container {
    width: -moz-max-content;
    width: max-content;
    overflow-x: auto;
  }
  .wrap.main-container {
    min-width: 1024px;
  }
  .wrap.sub-container {
    min-width: 1440px;
  }
}
@media (min-width: 1024px) {
  .wrap.main-container {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .wrap.main-container .inner {
    max-width: 1440px;
    margin: 0 auto;
  }
  .wrap.sub-container {
    width: 100%;
  }
  .wrap.sub-container .inner {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* 아코디언 메뉴 */
@media (min-width: 801px) {
  .menu-list {
    max-width: 328px;
  }
}
.menu-list > li {
  border-bottom: 0;
}
.menu-list > li p {
  color: #121212;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.16px;
  background: url("/assets/renewal2023/img/ico/ico-plus.png") no-repeat right 1.25rem center/0.94rem auto;
  padding: 8px 20px;
}
.menu-list > li p.active {
  background: url("/assets/renewal2023/img/ico/ico-minus.png") no-repeat right 1.25rem center/0.94rem auto;
  color: #00ab93;
}
.menu-list > li .depth3 {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.menu-list > li .depth3 > ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 20px;
  background: #f4f8fb;
  box-shadow: 0px 4px 8px 0px rgba(12, 50, 75, 0.16);
  padding: 20px 30px;
  margin-bottom: 20px;
  border: 1px solid #79d1c7;
}
.menu-list > li .depth3 > ul > li {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu-list > li .depth3 > ul > li a {
  width: 100%;
  display: block;
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
}
.menu-list > li .depth3 > ul > li > ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 0 0 20px;
}
.menu-list > li .depth3 > ul > li > ul li {
  position: relative;
}
.menu-list > li .depth3 > ul > li > ul li::after {
  content: "-";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
  color: #666;
}

/* 셀렉트 박스 */
.select-wrap .select-menu {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.select-wrap .select-menu.active .select-btn {
  border: 1px solid #00ab93;
}
.select-wrap .select-menu.active .select-btn svg {
  transform: rotate(0);
}
.select-wrap .select-menu .select-btn {
  width: 100%;
  height: 36px;
  padding: 0 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  position: relative;
  color: #121212;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
  cursor: pointer;
}
.select-wrap .select-menu .select-btn .sBtn-text {
  color: #121212;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
}
.select-wrap .select-menu .select-btn svg {
  width: 12px;
  height: 10px;
  transform: rotate(-180deg);
  transition: 0.3s;
}
.select-wrap .select-menu .options {
  width: 100%;
  min-width: -moz-max-content;
  min-width: max-content;
  position: absolute;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(12, 50, 75, 0.16);
  border-radius: 10px;
  overflow: hidden;
  margin: 5px 0 0;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.select-wrap .select-menu .options .option {
  display: flex;
  cursor: pointer;
  align-items: center;
  background: #fff;
}
.select-wrap .select-menu .options .option:hover .option-text {
  color: #00ab93;
}
.select-wrap .select-menu .options .option .option-text {
  width: calc(100% - 15.75px);
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 0 20px;
  color: #121212;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
}

/* 공통 헤더 */
.mo_layout .header {
  padding: 14px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mo_layout .header img.menuBtn {
  position: unset;
  transform: unset;
}
.mo_layout .moMenu .moMenuCon {
  height: 100%;
  left: auto;
  right: 0px;
  background: rgb(255, 255, 255);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mo_layout .moMenu .moMenuCon .moMenu_top {
  font-size: unset;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .row-group {
  width: 100%;
  background: #f4f8fb;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding: 8px 16px;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .row-group .moMenu_x {
  position: unset;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .row-group .profile {
  display: flex;
  gap: 8px;
  align-items: center;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .row-group .profile .profile-img-wrap {
  position: relative;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .row-group .profile .profile-img-wrap .profile-img {
  width: 32px;
  height: auto;
  display: block;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .row-group .profile .profile-img-wrap .state-new {
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: -4px;
  right: 0;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .row-group .profile p {
  color: #121212;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .row-group .profile p > b {
  font-weight: 700;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .row-group.mypage ~ .btn-req {
  background: #8165fe;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .row-group.mypage .my-page-info {
  display: flex;
  gap: 4px;
  align-items: center;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .row-group.mypage .my-page-info .profile-grade {
  color: #121212;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .row-group.mypage .my-page-info .profile-name {
  color: #121212;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.16px;
  display: flex;
  gap: 4px;
  align-items: center;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .row-group.mypage .my-page-info .profile-name > img {
  width: 14px;
  height: 14px;
  display: block;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .btns {
  width: 100%;
  padding: 10px 16px;
  display: flex;
  justify-content: center;
  gap: 33px;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .btns a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  justify-content: center;
  position: relative;
  flex-grow: 1;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .btns a > img {
  width: 32px;
  height: 32px;
  display: block;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .btns a > img.state-new {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
  left: 36px;
  transform: translateX(-100%);
}
.mo_layout .moMenu .moMenuCon .moMenu_top .btns a:not(:last-of-type)::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  right: -16.5px;
  width: 1px;
  height: 20px;
  background-color: #ddd;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .btns a span {
  color: #121212;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
}
.mo_layout .moMenu .moMenuCon .moMenu_top .btn-req {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 0;
  width: calc(100% - 32px);
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.16px;
  border-radius: 8px;
  background: #01416c;
  box-shadow: 0px 4px 8px 0px rgba(12, 50, 75, 0.16);
}
.mo_layout .moMenu .moMenuCon .menu-list {
  padding: 20px 16px 40px;
}
.mo_layout .moMenu .moMenuCon .notice-list {
  padding: 16px 16px 16px 26px;
  list-style: none;
  background: #f4f8fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}
.mo_layout .moMenu .moMenuCon .notice-list li {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
  border-bottom: 0;
  position: relative;
}
.mo_layout .moMenu .moMenuCon .notice-list li::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: -10px;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #00ab93;
}

.pc_layout .header_wrap {
  margin: 0 auto;
  z-index: 7777;
}
.pc_layout .header_wrap .header-container {
  width: 100%;
}
.pc_layout .header_wrap .header-container:not(.top) {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.pc_layout .header_wrap .header {
  max-width: unset;
  display: flex;
  align-items: center;
  gap: 66px;
  max-width: 1440px;
}
.pc_layout .header_wrap .header > ul > li:hover:after {
  width: 100%;
  height: 4px;
  border-radius: 0;
  bottom: 0;
  background-color: #00ab93;
}
.pc_layout .header_wrap .header > ul > li > a {
  padding: 18px 0;
  height: auto;
  line-height: 1;
}
.pc_layout .header_wrap .header > ul > li .sub-menu {
  width: -moz-max-content;
  width: max-content;
  height: -moz-fit-content !important;
  height: fit-content !important;
  top: auto;
  bottom: auto;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(12, 50, 75, 0.16);
  padding: 20px;
}
.pc_layout .header_wrap .header > ul > li .sub-menu > li {
  border-bottom: 1px dashed #eee;
}
.pc_layout .header_wrap .header > ul > li .sub-menu > li + li {
  margin-top: 0;
}
.pc_layout .header_wrap .header > ul > li .sub-menu > li > a {
  width: -moz-max-content;
  width: max-content;
  display: block;
  padding: 10px 0 10px 21px;
  position: relative;
}
.pc_layout .header_wrap .header > ul > li .sub-menu > li > a::after {
  content: "";
  display: block;
  background: url("/assets/renewal2023/img/ico/ico-right-arrow-green.png") no-repeat center/contain;
  width: 15.75px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.pc_layout .header_wrap .header > ul > li .sub-menu > li.on {
  height: inherit;
}
.pc_layout .header_wrap .header > ul > li .sub-menu > li.on ul.sub-sub-menu {
  height: -moz-fit-content !important;
  height: fit-content !important;
}
.pc_layout .header_wrap .header > ul > li .sub-menu > li > ul.sub-sub-menu {
  display: none;
  border-radius: 10px;
  background: var(--gray-color-variation-f-5-f-5-f-5, #f5f5f5);
  padding: 6px 30px;
  margin: 0 0 10px;
}
.pc_layout .header_wrap .header > ul > li .sub-menu > li > ul.sub-sub-menu > li {
  margin-top: 0;
}
.pc_layout .header_wrap .header > ul > li .sub-menu > li > ul.sub-sub-menu > li > a {
  display: block;
  width: -moz-max-content;
  width: max-content;
  line-height: 28px;
}
.pc_layout .header_wrap .header .all_menu {
  cursor: pointer;
}
.pc_layout .header_wrap .header-top {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}
.pc_layout .header_wrap .header-top .logo > a {
  display: block;
}
.pc_layout .header_wrap .header-top .row-group {
  display: flex;
  gap: 30px;
  align-items: center;
}
.pc_layout .header_wrap .header-top .row-group .my-page-layer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.pc_layout .header_wrap .header-top .row-group .my-page-layer .my-page {
  display: flex;
  align-items: center;
  gap: 8px;
}
.pc_layout .header_wrap .header-top .row-group .my-page-layer .my-page .profile {
  position: relative;
}
.pc_layout .header_wrap .header-top .row-group .my-page-layer .my-page .profile .profile-img {
  width: 48px;
  height: auto;
  display: block;
}
.pc_layout .header_wrap .header-top .row-group .my-page-layer .my-page .my-page-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.pc_layout .header_wrap .header-top .row-group .my-page-layer .my-page .my-page-info .profile-grade {
  color: #777;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.12px;
}
.pc_layout .header_wrap .header-top .row-group .my-page-layer .my-page .my-page-info .profile-name {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #121212;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.16px;
}
.pc_layout .header_wrap .header-top .row-group .my-page-layer .my-page .my-page-info .profile-name img {
  width: 14px;
  height: 14px;
  display: block;
}
.pc_layout .header_wrap .header-top .row-group .my-page-layer .state-new {
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: -4px;
  right: 0;
}
.pc_layout .header_wrap .header-top .row-group .btns {
  display: flex;
  align-items: center;
}
.pc_layout .header_wrap .header-top .row-group .btns a {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  color: #121212;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
  position: relative;
  padding: 5px 30px;
}
.pc_layout .header_wrap .header-top .row-group .btns a:nth-of-type(1) {
  position: relative;
}
.pc_layout .header_wrap .header-top .row-group .btns a:nth-of-type(1)::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  background-color: #ebebeb;
}
.pc_layout .header_wrap .header-top .row-group .btns a:not(:nth-last-of-type(1)) {
  position: relative;
}
.pc_layout .header_wrap .header-top .row-group .btns a:not(:nth-last-of-type(1))::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%);
  background-color: #ebebeb;
}
.pc_layout .header_wrap .header-top .row-group .btns a:nth-last-of-type(1) {
  padding: 5px 0 5px 30px;
}
.pc_layout .header_wrap .header-top .row-group .btns a:nth-last-of-type(1) .state-new {
  right: 0;
}
.pc_layout .header_wrap .header-top .row-group .btns .state-new {
  top: 5px;
  right: 30px;
}
.pc_layout .allMenu_wrap {
  position: fixed;
  top: 0;
  z-index: 7777;
  height: 100vh;
  background: linear-gradient(180deg, #07ad95 4.35%, #069ca6 80.83%);
  padding: 60px 0 0;
  overflow: auto;
}
.pc_layout .allMenu_wrap .logo {
  display: block;
  margin: 0 auto;
}
.pc_layout .allMenu_wrap .close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.pc_layout .allMenu_wrap .allMenu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  max-width: 1450px;
  margin: 65px auto 0;
  padding: 0;
}
.pc_layout .allMenu_wrap .allMenu > li {
  padding: 0 0 0 30px;
  border-left: 1px solid #fff;
  width: 20%;
}
.pc_layout .allMenu_wrap .allMenu > li:nth-child(4) {
  margin-right: 0;
}
.pc_layout .allMenu_wrap .allMenu > li a {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
}
.pc_layout .allMenu_wrap .allMenu > li a:after {
  display: none;
}
.pc_layout .allMenu_wrap .allMenu > li > ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.pc_layout .allMenu_wrap .allMenu > li > ul li {
  margin-top: 0;
}
.pc_layout .allMenu_wrap .allMenu > li > ul li > a {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.2px;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}
/* 서브 레이아웃 */
.sub-wrap {
  padding: 40px 0 54px;
  background-color: #F4F8FB;
}
@media (min-width: 801px) {
  .sub-wrap {
    background-color: unset;
  }
}
.sub-wrap .gray-box {
  padding: 0;
  background: none;
  margin: 40px 0 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #79D1C7;
}
.sub-wrap .gray-box.type2 {
  padding: 22px 20px;
  background: #F4F8FB;
  border-bottom: 0;
  border-radius: 20px;
  margin-top: 0;
}
.sub-wrap .gray-box.type3 {
  border-bottom: none;
  margin: 0;
  padding: 0;
}
.sub-wrap .gray-box p {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
}

/* 서브 상단 셀렉트 메뉴 */
.sub-container .location {
  display: block;
  margin-top: 62px;
}
@media (min-width: 801px) {
  .sub-container .location {
    margin-top: 0;
    background: #f4f8fb;
  }
}
@media (min-width: 801px) {
  .sub-container .location .location-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid #00ab93;
    padding: 40px 0 10px;
  }
}
.sub-container .location .location-wrap .select-wrap {
  gap: 33px;
  padding: 8px 16px;
  background: #00ab93;
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 801px) {
  .sub-container .location .location-wrap .select-wrap {
    display: block;
    max-width: unset;
    margin: 0;
    padding: 0;
    position: unset;
    background: none;
  }
}
.sub-container .location .location-wrap .select-wrap .breadcrumb {
  display: block;
  position: relative;
  color: #b3e6df;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.16px;
}
.sub-container .location .location-wrap .select-wrap .breadcrumb::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -16.5px;
  transform: translateX(50%);
  background-color: #b3e6df;
}
@media (min-width: 801px) {
  .sub-container .location .location-wrap .select-wrap .breadcrumb {
    display: none;
  }
}
.sub-container .location .location-wrap .select-wrap .select-menu {
  position: unset;
}
@media (min-width: 801px) {
  .sub-container .location .location-wrap .select-wrap .select-menu {
    position: relative;
  }
}
.sub-container .location .location-wrap .select-wrap .select-menu.active .select-btn {
  border: none;
}
.sub-container .location .location-wrap .select-wrap .select-menu.active .select-btn .sBtn-text {
  color: #fff27b;
}
@media (min-width: 801px) {
  .sub-container .location .location-wrap .select-wrap .select-menu.active .select-btn .sBtn-text {
    color: unset;
  }
}
.sub-container .location .location-wrap .select-wrap .select-menu.active .select-btn svg path {
  fill: #fff27b;
}
@media (min-width: 801px) {
  .sub-container .location .location-wrap .select-wrap .select-menu.active .select-btn svg path {
    fill: #00ab93;
  }
}
.sub-container .location .location-wrap .select-wrap .select-menu .select-btn {
  border: none;
  background: none;
  padding: 0;
}
@media (min-width: 801px) {
  .sub-container .location .location-wrap .select-wrap .select-menu .select-btn {
    gap: 10px;
    height: 47px;
    font-size: 18px;
    border-radius: 8px;
  }
}
.sub-container .location .location-wrap .select-wrap .select-menu .select-btn .sBtn-text {
  color: #fff;
  font-weight: 700;
}
@media (min-width: 801px) {
  .sub-container .location .location-wrap .select-wrap .select-menu .select-btn .sBtn-text {
    color: #121212;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: -0.36px;
    border: none;
  }
}
@media (min-width: 801px) {
  .sub-container .location .location-wrap .select-wrap .select-menu .select-btn svg {
    width: 24px;
    height: 24px;
  }
}
@media (min-width: 801px) {
  .sub-container .location .location-wrap .select-wrap .select-menu .select-btn svg path {
    fill: #00ab93;
  }
}
.sub-container .location .location-wrap .select-wrap .select-menu .options {
  top: 52px;
  padding: 20px;
  border-radius: 0;
  margin: 0;
  gap: 0;
}
@media (min-width: 801px) {
  .sub-container .location .location-wrap .select-wrap .select-menu .options {
    top: 47px;
    padding: 10px 0;
    margin: 10px 0 0;
    border-radius: 8px;
  }
}
.sub-container .location .location-wrap .select-wrap .select-menu .options .option {
  border-bottom: 1px dashed #ddd;
}
@media (min-width: 801px) {
  .sub-container .location .location-wrap .select-wrap .select-menu .options .option:hover {
    background: #f2f2f2;
  }
}
.sub-container .location .location-wrap .select-wrap .select-menu .options .option:hover .option-text {
  color: unset;
}
.sub-container .location .location-wrap .select-wrap .select-menu .options .option .point {
  width: 15.75px;
  height: 14px;
}
@media (min-width: 801px) {
  .sub-container .location .location-wrap .select-wrap .select-menu .options .option .point {
    display: none;
  }
}
.sub-container .location .location-wrap .select-wrap .select-menu .options .option .option-text {
  width: 100%;
  color: #666;
  padding: 7px 10px;
}
@media (min-width: 801px) {
  .sub-container .location .location-wrap .select-wrap .select-menu .options .option .option-text {
    padding: 10px 20px;
  }
}

/* 서브 상단 텍스트 */
.sub-top-text {
  display: none;
}
@media (min-width: 801px) {
  .sub-top-text {
    display: flex;
    align-items: center;
  }
  .sub-top-text > i img {
    width: 36px;
    height: 36px;
    display: block;
  }
}

/* 탭 메뉴 */
.tab {
  border-bottom: 2px solid #79d1c7;
}
.tab.scroll-wrap {
  overflow-x: auto;
}
.tab__wrap .row-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab__wrap .row-group .btn-area {
  width: auto;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 0;
}
.tab__list {
  width: 100%;
  min-width: -moz-max-content;
  min-width: max-content;
  display: flex;
  align-items: center;
}
.tab__item {
  flex-grow: 1;
  padding: 12px 0;
  text-align: center;
  cursor: pointer;
}
.tab__item[selected=selected], .tab__item.on {
  position: relative;
}
.tab__item[selected=selected] .tab__item__text, .tab__item.on .tab__item__text {
  color: #79d1c7;
}
.tab__item[selected=selected]:after, .tab__item.on:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #79d1c7;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (min-width: 801px) {
  .tab__item {
    padding: 16px 0;
  }
  .tab__item:after {
    height: 4px;
  }
}
.tab__item__text {
  color: #121212;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
}
@media (min-width: 801px) {
  .tab__item__text {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
  }
}

.location__title_con {
  display: block;
  font-size: 40px;
  font-weight: 700;
  line-height: 54px; /* 135% */
  letter-spacing: -0.4px;
  text-align: center;
  background-color: #f4f8fb;
  padding: 40px 0;
}
@media (min-width: 801px) {
  .location__title_con {
    padding: 60px 0;
  }
}

.footer-wrap {
  background-color: #333333;
}
@media (min-width: 801px) {
  .footer-wrap {
    border-top: 1px solid #dddddd;
  }
}

.footer-mobile {
  padding: 30px 16px;
}
@media (min-width: 801px) {
  .footer-mobile {
    display: none;
  }
}

.footer-pc {
  display: none;
}
@media (min-width: 801px) {
  .footer-pc {
    display: block;
  }
}

.footer-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
}
@media (min-width: 1440px) {
  .footer-inner {
    padding: 0;
  }
}

.family-site {
  position: relative;
  margin-bottom: 20px;
}
.family-site-list {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: 1px;
  width: 100%;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgba(12, 50, 75, 0.2);
  background-color: #fff;
}
.family-site-link {
  display: block;
  width: 100%;
  padding: 7px 0 9px;
  border-bottom: 1px dotted #dddddd;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}
@media (min-width: 801px) {
  .family-site {
    margin-bottom: 0;
  }
}

.family-site-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 20px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  vertical-align: middle;
}
.family-site-button > i {
  vertical-align: middle;
}
.family-site-button-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M8.99491 11.3736L2.83069 5.10428C2.68718 4.95833 2.5078 4.88535 2.29254 4.88535C2.07728 4.88535 1.89138 4.95833 1.73483 5.10428C1.57828 5.2635 1.5 5.45257 1.5 5.6715C1.5 5.89043 1.57828 6.0795 1.73483 6.23872L8.17302 12.7867C8.29043 12.9061 8.42089 12.9923 8.56439 13.0454C8.7079 13.0985 8.85141 13.125 8.99491 13.125C9.13842 13.125 9.28192 13.0985 9.42543 13.0454C9.56894 12.9923 9.69939 12.9061 9.81681 12.7867L16.2746 6.21882C16.4311 6.0596 16.5061 5.87384 16.4996 5.66155C16.4931 5.44926 16.4115 5.2635 16.255 5.10428C16.0984 4.95833 15.9158 4.88203 15.7071 4.8754C15.4983 4.86876 15.3157 4.94506 15.1591 5.10428L8.99491 11.3736Z' fill='black'/%3E%3C/svg%3E") no-repeat 0 0;
}
@media (min-width: 801px) {
  .family-site-button {
    min-width: 200px;
    padding: 12px 20px;
    border-radius: 0;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
  }
}
@media (min-width: 1024px) {
  .family-site-button {
    min-width: 285px;
  }
}

.visible {
  display: block;
}

.visible-icon {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.33069 15.7707L9.49491 9.50142L15.6591 15.7707C15.8157 15.9299 15.9983 16.0062 16.2071 15.9996C16.4158 15.993 16.5984 15.9167 16.755 15.7707C16.9115 15.6115 16.9931 15.4257 16.9996 15.2135C17.0061 15.0012 16.9311 14.8154 16.7746 14.6562L10.6601 8.4375L16.7746 2.21882C16.9311 2.0596 17.0061 1.87384 16.9996 1.66155C16.9931 1.44926 16.9115 1.2635 16.755 1.10428C16.5984 0.958327 16.4158 0.882033 16.2071 0.8754C15.9983 0.868766 15.8157 0.945059 15.6591 1.10428L9.49491 7.37358L3.33069 1.10428C3.18718 0.958326 3.0078 0.88535 2.79254 0.88535C2.57728 0.88535 2.39138 0.958326 2.23483 1.10428C2.07828 1.2635 2 1.45257 2 1.6715C2 1.89043 2.07828 2.0795 2.23483 2.23872L8.32971 8.4375L2.23483 14.6363C2.07828 14.7955 2 14.9846 2 15.2035C2 15.4224 2.07828 15.6115 2.23483 15.7707C2.39138 15.9167 2.57728 15.9897 2.79254 15.9897C3.0078 15.9897 3.18718 15.9167 3.33069 15.7707Z' fill='%23999999'/%3E%3C/svg%3E") no-repeat 0 0;
}

.company-info {
  margin-bottom: 20px;
}
.company-info .logo {
  margin-bottom: 12px;
}
.company-info > p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
}

.company-info-web {
  margin-bottom: 24px;
}
.company-info-web > p,
.company-info-web span {
  font-size: 14px;
  color: #999999;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
}
.company-info-web button {
  font-size: 14px;
  color: #dddddd;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
}
.company-info-web > p > span {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}
.company-info-web > p > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 15%;
  right: -10px;
  width: 1px;
  height: 70%;
  background-color: #999999;
}

.footer-cs-info {
  margin-bottom: 20px;
}
.footer-cs-info > p:nth-child(1) {
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  margin-bottom: 6px;
}
.footer-cs-info > p :nth-child(2) {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
}
@media (min-width: 801px) {
  .footer-cs-info {
    text-align: right;
  }
  .footer-cs-info > p:nth-child(1) {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: -0.2px;
    margin-bottom: 8px;
  }
}

.copyright {
  font-size: 12px;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.12px;
}

.footer-top {
  background-color: #fff;
}
.footer-top-inner {
  display: flex;
  justify-content: space-between;
}

.footer-link {
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 32px;
  margin-bottom: 16px;
}
.footer-link > li {
  position: relative;
}
.footer-link > li::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 4px;
  height: 4px;
  margin-right: -18px;
  transform: translate(-50%, -50%);
  background-color: #999999;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.footer-link > li:last-child::after {
  display: none;
}
.footer-link > li > a {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
  color: #999999;
}
@media (min-width: 801px) {
  .footer-link {
    margin-bottom: 0;
  }
  .footer-link > li::after {
    background-color: #d9d9d9;
  }
  .footer-link > li > a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
    color: #121212;
  }
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

/*=================================================================
    color class
    (purunet-happy)green-mint 를 제일 많이 사용
====================================================================*/
.color-mint-blue {
  color: #79d1c7 !important;
}

.color-blue-purple {
  color: #8165fe !important;
}

.color-main-bg {
  color: #f4f8fb !important;
}

.color-green-mint {
  color: #00ab93 !important;
}

.color-pink {
  color: #f383d1 !important;
}

.color-red-pink {
  color: #f04d69 !important;
}

.color-yellow {
  color: #ffd349 !important;
}

.color-navy {
  color: #01416c !important;
}

.color-light-purple {
  color: #b3a3fe !important;
}

.color-blue-gray {
  color: #e0e7ec !important;
}

.color-light-yellow {
  color: #fff27b !important;
}

.color-black {
  color: #000 !important;
}

.color-gray900 {
  color: #121212 !important;
}

.color-gray800 {
  color: #333333 !important;
}

.color-gray700 {
  color: #666666 !important;
}

.color-gray600 {
  color: #777777 !important;
}

.color-gray500 {
  color: #999999 !important;
}

.color-gray400 {
  color: #cccccc !important;
}

.color-gray300 {
  color: #dddddd !important;
}

.color-gray200 {
  color: #ebebeb !important;
}

.color-gray100 {
  color: #f5f5f5 !important;
}

.color-white {
  color: #fff !important;
}

.bg-mint-blue {
  background-color: #79d1c7 !important;
}

.bg-blue-purple {
  background-color: #8165fe !important;
}

.bg-main {
  background-color: #f4f8fb !important;
}

.bg-green-mint {
  background-color: #00ab93 !important;
}

.bg-pink {
  background-color: #f383d1 !important;
}

.bg-red-pink {
  background-color: #f04d69 !important;
}

.bg-yellow {
  background-color: #ffd349 !important;
}

.bg-navy {
  background-color: #01416c !important;
}

.bg-light-purple {
  background-color: #b3a3fe !important;
}

.bg-blue-gray {
  background-color: #e0e7ec !important;
}

.bg-light-yellow {
  background-color: #fff27b !important;
}

.bg-black {
  background-color: #000 !important;
}

.bg-gray900 {
  background-color: #121212 !important;
}

.bg-gray800 {
  background-color: #333333 !important;
}

.bg-gray700 {
  background-color: #666666 !important;
}

.bg-gray600 {
  background-color: #777777 !important;
}

.bg-gray500 {
  background-color: #999999 !important;
}

.bg-gray400 {
  background-color: #cccccc !important;
}

.bg-gray300 {
  background-color: #dddddd !important;
}

.bg-gray200 {
  background-color: #ebebeb !important;
}

.bg-gray100 {
  background-color: #f5f5f5 !important;
}

.bg-white {
  background-color: #fff !important;
}

.border-mint-blue {
  border-color: #79d1c7 !important;
}

.border-blue-purple {
  border-color: #8165fe !important;
}

.border-main-bg {
  border-color: #f4f8fb !important;
}

.border-green-mint {
  border-color: #00ab93 !important;
}

.border-pink {
  border-color: #f383d1 !important;
}

.border-red-pink {
  border-color: #f04d69 !important;
}

.border-yellow {
  border-color: #ffd349 !important;
}

.border-navy {
  border-color: #01416c !important;
}

.border-light-purple {
  border-color: #b3a3fe !important;
}

.border-blue-gray {
  border-color: #e0e7ec !important;
}

.border-light-yellow {
  border-color: #fff27b !important;
}

.border-black {
  border-color: #000 !important;
}

.border-gray900 {
  border-color: #121212 !important;
}

.border-gray800 {
  border-color: #333333 !important;
}

.border-gray700 {
  border-color: #666666 !important;
}

.border-gray600 {
  border-color: #777777 !important;
}

.border-gray500 {
  border-color: #999999 !important;
}

.border-gray400 {
  border-color: #cccccc !important;
}

.border-gray300 {
  border-color: #dddddd !important;
}

.border-gray200 {
  border-color: #ebebeb !important;
}

.border-gray100 {
  border-color: #f5f5f5 !important;
}

.border-white {
  border-color: #fff !important;
}

/*==============================================================
Button 
* 그 외 버튼 custom => color, background-color, border-color class로
@mixin btnStyle() {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

================================================================*/
.btn-default {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #cccccc;
  color: #121212;
}

.btn-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: #fff;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ab93;
  color: #fff;
}

.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #01416c;
  color: #fff;
}

.btn-md {
  gap: 10px;
  padding: 14px 30px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.18px;
}

.btn-sm {
  gap: 4px;
  padding: 5px 20px 7px 20px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.btn-xsm {
  gap: 4px;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
}

.btn-pd40 {
  padding: 14px 40px;
  min-width: 113px;
}

.btn-disabled {
  opacity: 0.6;
}

.btn-shadow {
  box-shadow: 0px 4px 8px 0px rgba(12, 50, 75, 0.16);
}

.btn-width-fixed {
  display: flex;
  width: 165px;
  height: 54px;
  padding: 14px 54px 14px 55px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.18px;
  border: 1px solid transparent;
}

/*==============================================================
Input 
!! 기존 style로 인해 덮는 방식 !!
================================================================*/
input[type=text],
input[type=password],
input[type=tel] {
  width: 100%;
  display: flex;
  height: auto;
  padding: 9px 20px 11px 20px;
  align-items: center;
  gap: 10px;
  border: 1px solid #cccccc;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}
input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=tel]::-moz-placeholder {
  color: #cccccc;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=tel]::placeholder {
  color: #cccccc;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus {
  outline: 1px solid #00ab93;
  outline-offset: -1px;
}
input[type=text]:disabled,
input[type=password]:disabled,
input[type=tel]:disabled {
  background-color: #ebebeb;
  color: #666666;
}

input[type=checkbox] {
  display: none !important;
}

input[type=checkbox] + label {
  display: inline-flex;
  align-items: center;
  color: #666;
  line-height: 1.25rem;
}

.checkbox-primary input[type=checkbox] + label {
  height: 26px;
  padding-left: 30px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='3.5' fill='white' stroke='%23CCCCCC'/%3E%3C/svg%3E") no-repeat 0 0;
  background-size: 24px 24px;
}
.checkbox-primary input[type=checkbox]:checked + label {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='3.5' fill='white' stroke='%23CCCCCC'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.5641 6.43739C20.1453 7.02057 20.1453 7.9661 19.5641 8.54928L11.378 16.7626C10.7968 17.3458 9.85439 17.3458 9.27314 16.7626L4.43593 11.9093C3.85469 11.3261 3.85469 10.3806 4.43593 9.79739C5.01718 9.2142 5.95956 9.2142 6.54081 9.79739L10.3256 13.5948L17.4592 6.43739C18.0404 5.8542 18.9828 5.8542 19.5641 6.43739Z' fill='%2300AB93'/%3E%3C/svg%3E") no-repeat 0 0;
  background-size: 24px 24px;
}

.checkbox-secondary input[type=checkbox] + label {
  height: 32px;
  padding-left: 40px;
  font-weight: 700;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Ccircle cx='15' cy='15' r='14.5' fill='%23F5F5F5' stroke='%23DDDDDD'/%3E%3C/svg%3E") no-repeat 2px 2px;
  background-size: 30px 30px;
}
.checkbox-secondary input[type=checkbox]:checked + label {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Ccircle cx='15' cy='15' r='15' fill='%2301416C'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.4551 8.54673C25.1816 9.27571 25.1816 10.4576 24.4551 11.1866L14.2225 21.4533C13.496 22.1822 12.318 22.1822 11.5914 21.4533L5.54492 15.3866C4.81836 14.6576 4.81836 13.4757 5.54492 12.7467C6.27147 12.0178 7.44946 12.0178 8.17601 12.7467L12.907 17.4935L21.824 8.54673C22.5505 7.81776 23.7285 7.81776 24.4551 8.54673Z' fill='white'/%3E%3C/svg%3E") no-repeat 2px 2px;
  background-size: 30px 30px;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  display: inline-block;
  color: #666;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.radio-primary input[type=radio] + label {
  padding-left: 40px;
  height: 32px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Ccircle cx='15' cy='15' r='14.5' fill='white' stroke='%2301416C'/%3E%3C/svg%3E") no-repeat 0 0;
  background-size: 30px 30px;
}
.radio-primary input[type=radio]:checked + label {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Ccircle cx='15' cy='15' r='14.5' fill='white' stroke='%2301416C'/%3E%3Ccircle cx='7' cy='7' r='7' transform='matrix(1 0 0 -1 8 22)' fill='%2301416C'/%3E%3C/svg%3E") no-repeat 0 0;
  background-size: 30px 30px;
}

.radio-secondary input[type=radio] + label {
  padding-left: 30px;
  height: 26px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Ccircle cx='12' cy='12' r='11.5' fill='white' stroke='%23CCCCCC'/%3E%3C/svg%3E") no-repeat 0 0;
  background-size: 24px 24px;
}
.radio-secondary input[type=radio]:checked + label {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Ccircle cx='12' cy='12' r='11.5' fill='white' stroke='%23CCCCCC'/%3E%3Ccircle cx='12' cy='12' r='6' fill='%2300AB93'/%3E%3C/svg%3E") no-repeat 0 0;
  background-size: 24px 24px;
}

/* card */
.card {
  width: 100%;
  border-radius: 40px;
  border: 1px solid #DDD;
  background: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(12, 50, 75, 0.16);
  overflow: hidden;
}
@media (min-width: 801px) {
  .card {
    position: relative;
    border-radius: 20px;
  }
}
.card__body {
  display: flex;
  flex-direction: column;
}
.card__title {
  color: #121212;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
  border-bottom: 1px dashed #DDD;
  padding-bottom: 8px;
  margin-bottom: 10px;
}
.card__date {
  color: #121212;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
}
@media (min-width: 801px) {
  .card__date {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .card__date span {
    color: #777;
  }
}
.card .btns {
  width: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 801px) {
  .card .btns {
    width: auto;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
  }
}
.card .btns a.btn {
  flex-grow: 1;
  width: 100%;
  border-radius: 0;
  padding: 10px 0;
  color: #FFF;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.17px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
@media (min-width: 801px) {
  .card .btns a.btn {
    flex-grow: unset;
    width: -moz-max-content;
    width: max-content;
    gap: 4px;
    padding: 5px 20px 7px 20px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
}
.card .btns a.btn img {
  width: 32px;
  height: 32px;
}

.paging {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.paging span {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #CCC;
  background: #fff;
  margin-right: 0;
  padding: 0;
}
.paging span a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #121212;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
}
.paging span.active {
  background: #00AB93;
  border-bottom: none;
}
.paging span.active a {
  color: #fff;
}

#popupLayer {
  display: none;
  border-radius: 40px;
  padding: 0;
  background-color: #ffffff;
  margin: 0 16px;
}
@media (min-width: 801px) {
  #popupLayer {
    margin: 0;
  }
}
#popupLayer .sub-wrap {
  padding: 0;
}
#popupLayer .sub-wrap .exam-wrap .tbl-basic {
  border-top: 1px solid #ddd;
}
#popupLayer .sub-wrap .exam-wrap .tbl-basic::after {
  display: none;
}
#popupLayer .sub-wrap .exam-wrap .tbl-basic.write tr {
  border-bottom: 1px solid #ddd;
}
#popupLayer .sub-wrap .exam-wrap .tbl-basic.write tr th {
  color: #121212;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.16px;
  text-align: center;
  background-color: #F4F8FB;
}
#popupLayer .sub-wrap .exam-wrap .tbl-basic.write tr td {
  padding: 14px 20px;
  color: #121212;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
}
#popupLayer .sub-wrap .exam-wrap .tbl-basic.write tr td .exam-check-list {
  height: 194px;
  margin-top: 14px;
}
#popupLayer .sub-wrap .exam-wrap .tbl-basic.write tr td input[type=text] {
  margin: 0;
  padding: 10px 20px;
  height: 44px;
}
#popupLayer .sub-wrap .exam-wrap .tbl-basic.write tr td .radiobox,
#popupLayer .sub-wrap .exam-wrap .tbl-basic.write tr td .checkbox {
  padding-left: 0;
}
#popupLayer .sub-wrap .exam-wrap .tbl-basic.write tr td:not(#popupLayer .sub-wrap .exam-wrap .tbl-basic.write tr td:has(.exam-check-list)) {
  display: flex;
  gap: 20px;
}
#popupLayer .b-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  right: 20px;
}
@media (min-width: 801px) {
  #popupLayer .b-close {
    width: 48px;
    height: 48px;
  }
}
#popupLayer .b-close > img {
  width: 100%;
  height: 100%;
  display: block;
}
#popupLayer .popupContent {
  color: #121212;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
}
#popupLayer .popupContent__header {
  padding: 10px 24px;
  border-radius: 40px 40px 0px 0px;
  background: #00AB93;
}
@media (min-width: 801px) {
  #popupLayer .popupContent__header {
    padding: 20px 50px;
  }
}
#popupLayer .popupContent__title {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.18px;
}
@media (min-width: 801px) {
  #popupLayer .popupContent__title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
  }
}
#popupLayer .popupContent__body {
  padding: 16px 24px;
}
@media (min-width: 801px) {
  #popupLayer .popupContent__body {
    padding: 30px 40px 20px;
  }
}
#popupLayer .popupContent__body .gray-box {
  background: none;
  padding: 0 0 0 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#popupLayer .popupContent__body .gray-box:before, #popupLayer .popupContent__body .gray-box:after {
  display: none;
}
#popupLayer .popupContent__body .gray-box li {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
  list-style: disc;
}
#popupLayer .popupContent__body .gray-box li span {
  color: #999;
  display: block;
}
#popupLayer .popupContent__footer {
  border-radius: 0px 0px 40px 40px;
  background: var(--BgColor, #F4F8FB);
  padding: 14px 0;
}
#popupLayer .popupContent__footer .btn-area {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#popupLayer .popupContent__footer .btn-area a {
  min-width: 84px;
}

.tooltips {
  background: url(/assets/renewal2023/img/ico/ico-important.png) no-repeat center/contain;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}/*# sourceMappingURL=common.css.map */