@charset "utf-8";
@import './variables';

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: color(white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/* Typography */
h1 {
  @include font(large);
  color: color(black);
  margin: 16px 0;
}

h2 {
  @include font(medium);
  color: color(black);
  margin: 8px 0;
}

h3 {
  @include font(regular);
  color: color(black);
  margin: 8px 0;
}

p {
  @include font(regular);
  color: color(black);
  margin: 4px 0;
}

/* Section common */
.section {
  padding: 87.6px 50px 50px;
  text-align: center;

  @include mobile768 {
    padding: 62px 16px 16px;
  }
}

.section__container {
  max-width: 1200px;
  margin: 0 auto;
}