@charset "utf-8";

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-beige: #f3d7bc;
  --color-red: #dc143c;
  --color-dark-red: #9a0e2a;
  --color-brown: #583939;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-black: #000000;
  --color-dark-black: #151515;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Section common */
.section {
  padding: 87.6px 50px 50px;
  text-align: center;
}

.section__container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Skills */
#skills {
  background-color: var(--color-beige);
}

.skillset {
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
  margin-top: 34px;
}

.skillset__left {
  flex-basis: fit-content;
  margin-right: 20px;
}

.card {
  position: relative;
  width: 450px;
  height: 640px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background: #151515;
  overflow: hidden;
}

.card .card__top {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: crimson;
  animation: cardTop 1.5s;
}

.card .profile__img {
  position: absolute;
  margin: auto;
  top: 40px;
  right: 0;
  left: 0;
  width: 120px;
  height: initial;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #151515, inset 0 0 0 5px #000000,
    inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000;
  background: white;
  animation: mvTop 1.5s;
}

.card .profile__name {
  position: absolute;
  margin: auto;
  top: -220px;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 40px;
  text-align: center;
  animation: fadeIn 2s ease-in;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
}

.card .profile__name:hover {
  text-decoration: underline;
  color: crimson;
}

.card .card__list {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: inherit;
  height: fit-content;
  display: flex;
}

.card .card__list .card__list__item.level,
.card .card__list .card__list__item.projects,
.card .card__list .card__list__item.age {
  position: relative;
  left: -300px;
  width: calc(100% / 3);
  text-align: center;
  color: white;
  animation: fadeInMove 2s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
}

.card .card__list .card__list__item.level .item__title,
.card .card__list .card__list__item.projects .item__title,
.card .card__list .card__list__item.age .item__title {
  text-transform: uppercase;
  color: crimson;
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
}

.card .card__list .card__list__item:nth-of-type(2) {
  animation-delay: 0.5s;
}

.card .card__list .card__list__item:nth-of-type(1) {
  animation-delay: 1s;
}

.card .skills {
  position: absolute;
  margin: auto;
  bottom: 70px;
  right: 0;
  left: 0;
  width: 80%;
  height: initial;
  animation: mvBottom 1.5s;
}

.card .skillset__title {
  margin-bottom: 5px;
  font-weight: 700;
  text-transform: uppercase;
  color: crimson;
  text-align: left;
}

.card .skills .skill span {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.05em;
  margin: 4px 0;
  color: white;
}

.card .skills .skill .skill__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card .skills .skill .skill__bar {
  height: 5px;
  background: crimson;
  text-align: right;
}

.card .skills .skill .skill__bar .skill__value {
  color: white;
  font-size: 16px;
  padding-top: 5px;
  animation: fadeIn 5s;
}

.card .skills .skill .skill__bar:hover {
  background: white;
}

.card .skills .skill.html .skill__description {
  width: 90%;
}
.card .skills .skill.html .skill__bar {
  width: 90%;
  animation: htmlSkill 1s;
  animation-delay: 0.4s;
}

.card .skills .skill.css .skill__description {
  width: 90%;
}
.card .skills .skill.css .skill__bar {
  width: 90%;
  animation: cssSkill 2s;
  animation-delay: 0.4s;
}

.card .skills .skill.javascript .skill__description {
  width: 50%;
}
.card .skills .skill.javascript .skill__bar {
  width: 50%;
  animation: jsSkill 3s;
  animation-delay: 0.4s;
}

.card .skills .skill.photoshop .skill__description {
  width: 80%;
}
.card .skills .skill.photoshop .skill__bar {
  width: 80%;
  animation: photoSkill 4s;
  animation-delay: 0.4s;
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes htmlSkill {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes cssSkill {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes jsSkill {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes photoSkill {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes mvBottom {
  0% {
    bottom: -150px;
  }
  100% {
    bottom: 10px;
  }
}

@keyframes mvTop {
  0% {
    top: -150px;
  }
  100% {
    top: 40px;
  }
}

@keyframes cardTop {
  0% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}

.skillset__right {
  flex-basis: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--color-dark-black);
  border-radius: 10px;
}

.licenses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px;
  flex-basis: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.licenses .skillset__title {
  flex-basis: 100%;
  color: var(--color-red);
}

.license {
  position: relative;
  perspective: 600px;
}

.license .front {
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: all var(--animation-duration) ease-in-out;
  backface-visibility: hidden;
  position: relative;
}

.license:hover .front {
  transform: rotateY(180deg);
}

.license .front figcaption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateZ(100px);
  text-align: center;
}

.license .back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform-style: preserve-3d;
  transform: rotateY(-180deg);
  transition: all var(--animation-duration) ease-in-out;
  backface-visibility: hidden;
}

.license:hover .back {
  transform: rotateY(0deg);
  z-index: 1;
}

.license .back figcaption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateZ(100px);
  display: block;
  text-align: center;
}

.license__img {
  width: 200px;
  display: block;
}

.license figcaption {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 5px;
  width: 100px;
  height: 100px;
}

.license figcaption i {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  color: var(--color-white);
  opacity: 0.6;
  font-size: var(--font-large);
  border: 4px dashed var(--color-white);
  padding-top: 12.36px;
}

.tools,
.etc {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.skillset__title {
  font-weight: var(--weight-bold);
  font-size: var(--font-medium);
}

.tools__list,
.etc__list {
  margin: 0;
}
.tools__list li,
.etc__list li {
  margin: 4px 0;
}

.tools {
  background-color: var(--color-red);
  border-bottom-left-radius: 10px;
}

.etc {
  background-color: var(--color-light-grey);
  border-bottom-right-radius: 10px;
}

/* work */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-red);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-dark-black);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0.6;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px 16px;
  flex-basis: calc(25% - 32px);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.project__description {
  position: absolute;
  top: 0;
  background-color: rgba(31, 2, 2, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease;
}

.project:hover .project__description {
  transform: translateY(0);
  opacity: 0.8;
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--color-beige);
  position: relative;
  left: 50%;
  margin: 8px 0 0 0;
  transform: translateX(-50%);
}

/* Animations */
.animations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.animations__title {
  text-align: center;
}

.animation {
  position: relative;
  flex-basis: 33.3333%;
}
.animation.egg,
.animation.svgtext {
  flex-basis: 50%;
}

.animation.bubble {
  flex-basis: 100%;
}
.animation iframe {
  border: none;
  width: 100%;
  height: 360px;
  transform: scale(0.7);
}

.animation__description {
  position: absolute;
  top: 0;
  background-color: var(--color-beige);
  width: 100%;
  height: 100%;
  transform: scale(0.5);
  transition: all var(--animation-duration) ease;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.animation:hover .animation__description {
  transform: scale(1);
  opacity: 1;
}

.animation__description h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin: 16px 0;
}

.animation__description p {
  color: var(--color-dark-grey);
  font-size: var(--font-micro);
  line-height: 24px;
}

/* Contact */
#contact {
  background-color: var(--color-dark-black);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}

.contact__links a {
  display: inline-block;
}

.contact__links a.git__icon {
  margin-right: 8px;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-beige);
}

/* Arrow up */
.arrow-up {
  position: fixed;
  bottom: 32px;
  right: 32px;
  color: var(--color-red);
  font-size: var(--font-large);
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
  pointer-events: none;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {  
  /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .section {
    padding: 62px 16px 16px;
  }

  .navbar__logo a {
    font-size: var(--font-large);
  }

  .navbar__toggle-btn {
    display: block;
    font-size: var(--font-large);
  }

  .navbar__toggle-btn .fa-bars {
    opacity: 1;
  }

  .navbar__toggle-btn .fa-bars.off {
    opacity: 0;
  }

  .navbar__toggle-btn .fa-times-circle.on {
    pointer-events: auto;
    opacity: 1;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-red);
  }

  #navbar.navbar--dark {
    padding: 16px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  #home {
    height: 85vh;
    padding: 0 0 32px 0;
  }

  .home__container {
    padding-right: 16px;
  }

  .home__avatar {
    width: calc(369px / 2);
    top: 40%;
  }

  .avatar__img {
    width: calc(369px / 2);
    height: calc(447px / 2);
  }

  .avatar__img::after {
    bottom: calc(-30px / 2);
    width: calc(80% / 2);
    height: calc(30px / 2);
  }

  .avatar__text {
    width: calc(390px / 2);
    height: calc(495px / 2);
    line-height: 380px;
    font-size: var(--font-medium);
    -webkit-transform: translateZ(150px) translateX(-11px) translateY(-13px) scale(0.55);
    transform: translateZ(150px) translateX(-11px) translateY(-13px) scale(0.55);
  }

  .avatar__text::after {
    bottom: calc(36px / 2);
    left: 0;
    letter-spacing: 2px;
    text-indent: initial;
    font-size: var(--font-micro);
  }

  .home__contact {
    margin: 12px 0 12px 12px;
  }

  .home__title {
    font-size: var(--font-medium);
  }
  .home__description {
    font-size: var(--font-small);
  }

  .about__majors {
    margin: 30px 0 0 0;
    flex-direction: column;
    align-items: center;
  }
  .major {
    margin-bottom: 30px;
  }

  .job__logo {
    width: 72px;
  }

  .skillset {
    flex-direction: column;
  }

  .skillset__left {
    margin-right: 0;
    margin-bottom: 38px;
  }
  
  .card {
    width: 100%;
  }

  .license figcaption i {
    padding-top: 22.88px;
  }

  .category__btn {
    width: 100%;
    margin-bottom: 4px;
  }
  
  .project {
    flex-grow: 1;
    margin: 0 2px 38px 2px;
    flex-basis: initial;
  }

  .animation {
    flex-basis: initial;
    flex-grow: 1;
  }

  .animation.egg,
  .animation.svgtext {
    flex-basis: initial;
  }

  .animation iframe {
    transform: scale(0.5);
  }

  .arrow-up {
    font-size: 48px;
    right: 16px;
  }
}
